:root[data-theme="light"] {
    --background-color: #f2f1f1ff;
    --text-color: #181818;
    --primary-bg-color: #f5f4f4fa;
    --topnav-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    --btmnav-box-shadow: 0px 0px 5px 5px rgba(1, 1, 1, 0.1);
    --transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
:root[data-theme="dark"] {
    --background-color: #181818;
    --text-color: #f2f1f1ff;
    --primary-bg-color: #111111;
    --topnav-box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.5);
    --btmnav-box-shadow: 0px 0px 5px 5px rgba(1, 1, 1, 0.5);
    --transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Apply Variables */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    height: auto;
    overflow: auto;
    font-family: Poppins;
    transition: var(--transition);
    user-select: none;
    webkit-user-select: none;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}

span,
p {
    color: var(--text-color);
}
p {
    text-align: center;
    font-size: 22px;
    margin: 10px;

    /* animation */
}
.waveform {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 20px;
}

.bar {
    width: 4px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--text-color);
    animation: wave 0.6s infinite ease-in-out alternate;
}

/* Apply different delays for smooth effect */

.bar:nth-child(1) {
    animation-delay: 0.2s;
}
.bar:nth-child(2) {
    animation-delay: 0.3s;
}
.bar:nth-child(3) {
    animation-delay: 0.4s;
}
.bar:nth-child(4) {
    animation-delay: 0.5s;
}

@keyframes wave {
    0% {
        height: 3px;
    }
    50% {
        height: 6px;
    }

    100% {
        height: 18px;
    }
}

.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loader-mini {
    width: 30px;
    height: 30px;
    border: 5px solid var(--text-color);
    border-top-color: var(--background-color); /* Primary color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid var(--text-color);
    border-top-color: var(--background-color); /* Primary color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Overall app layout design */
.app-layout {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    color: inherit;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
    transition: var(--transition);
}
.app-layout::-webkit-scrollbar {
    display: none !important;
}
/* Design of individual routes */
.page-layout {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-bottom: 50px;
    padding-bottom: 6px;
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}
.page-layout::-webkit-scrollbar {
    display: none;
}
/*Styles for Top Navigation Bar*/
.top-nav {
    position: sticky;
    top: 0;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-bg-color);
    box-shadow: var(--topnav-box-shadow);
    z-index: 100;
    transition: var(--transition);
}
.top-nav .topnav-icon-btn {
    color: var(--text-color) !important;
    height: 24px !important;
}
.top-nav .app-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Styles for bottom navigation bar*/
.bottom-nav {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-height: 5vh;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: var(--primary-bg-color);
    box-shadow: var(--btmnav-box-shadow);
    z-index: 100;
    transition: var(--transition);
}
.bottom-nav-icon {
    color: var(--text-color) !important;
    height: 40px !important;
    width: 55px !important;
    transition: transform 0.25s ease-in-out !important;
}
.bottom-nav-icon:hover,
.bottom-nav-icon:active {
    background-color: var(--background-color) !important;
    box-shadow: var(--btmnav-box-shadow) !important;
    transform: translateY(-10px) !important;
    border-radius: 8px !important;
}

/*Styles for Search Bar*/
.search-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    border-radius: 12px;
    box-shadow: var(--topnav-box-shadow);
    max-width: 400px;
}
.search-input-box {
    color: inherit;
    background-color: inherit;
    outline: none;
    border: none;
    font-size: 1em;
    padding: 8px;
    max-width: inherit;
    border-radius: 12px;
    width: inherit;
}

.icon-btn {
    color: var(--text-color) !important;
    margin: 0px !important;
    transition: display 0.3s ease-in-out !important;
}
.icon-btn.visible {
    display: flex !important;
}
.icon-btn.hidden {
    display: none !important;
}

/*Styles for Video Container*/
.video-container {
    flex: 1 0 auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 65vh;
    overflow: auto;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

/*Video Player Styles */
.video-player {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: var(--primary-bg-color);
    border-radius: 8px;
    box-shadow: var(--topnav-box-shadow);
}

.player-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    padding-top: 8px;
}

.link {
    text-decoration: none;
    cursor: pointer;
}
.link:hover,
.link:active {
    user-select: none;
}

.player-act-button {
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    border: none;
    font-size: 20px;
}
.fmt-slt-inp-label {
    color: var(--text-color) !important;
    text-align: center !important;
    font-size: 4px;
}
.player-format-select {
    color: var(--text-color) !important;
    background-color: var(--primary-bg-color) !important;
    font-size: 16px !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    outline: none !important;
    height: 25px !important;
}

/* Full Screen audio player styles */
.audio-player {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
    height: 90vh;
    width: 100vw;
    position: fixed;
    top: 0;
    padding-top: 50px;
    z-index: 50;
}
.audio-player .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    font-size: 20px;
}
.audio-player .audio-thumbnail {
    border-radius: 12px;
    height: 150px;
    width: 200px;
    object-fit: cover;
}
.audio-player .audio-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    gap: 5px;
}
.audio-player .progress-input {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    overflow: hidden; /* Hide overflow for rounded corners */
    background: var(--text-color);
}

.audio-player .progress-input::-webkit-progress-bar {
    background-color: var(--text-color);
    border-radius: 5px;
}

.audio-player .progress-input::-webkit-progress-value {
    background-color: var(--background-color);
    border-radius: 5px;
}

.audio-player .progress-input::-moz-progress-bar {
    background-color: var(--background-color);
    border-radius: 5px;
}

.audio-player .controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
.audio-player .control-btn {
    color: var(--text-color) !important;
}
.audio-player .control-btn-icon {
    height: 48px !important ;
    width: 48px !important;
}
.audio-player .control-btn-icon-top {
    font-size: 35px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    background: var(--primary-bg-color);
}

/* Popup audio player styles */
.audio-player-mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 400px;
    height: auto;
    background-color: var(--primary-bg-color);
    padding: 10px;
    border-radius: 12px;
    z-index: 50;
    box-shadow: var(--btmnav-box-shadow);
}
.audio-player-mini .infobox {
    display: flex;
    gap: 10px;
}
.audio-player-mini .thumbnail {
    width: 50px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
}
.audio-player-mini .info {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.audio-player-mini .info span {
    display: inline-block;
    min-width: 100%;
    animation: scrollText 5s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.audio-player-mini .controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio-player-mini .control-btn,
.control-btn-icon {
    width: 35px !important;
    height: 50px !important;
    color: var(--text-color);
}
/* Styles for Playlist Component */
.playlist-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-bg-color);
    padding: 30px 0 100px;
    overflow: hidden;
    transition: var(--transition);
    gap: 5px;
    z-index: 25;
}

.playlist-container .playlist-info {
    /* Allow shrinking and growing */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px !important;
    height: auto;
    max-height: 200px;

    /* Smooth transition */
}

.playlist-container .hidden {
    display: none !important;
}

.playlist-container .thumbnail {
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
}
.playlist-container .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.playlist-container .icons-top {
    font-size: 35px;
    padding: 8px;
    margin-top: 8px;
    border-radius: 50%;
    background: var(--background-color);
    color: var(--text-color);
}

.playlist-container .playlist-ctrls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
}

.playlist-ctrls .play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 12px;
    outline: none;
    transition: var(--transition);
}

.playlist-ctrls .play-btn:active {
    background-color: var(--primary-bg-color) !important;
}

.play-btn .play-btn-text {
    color: var(--background-color);
    font-size: 22px;
}

.playlist-container .music-list {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 250px;
}
.playlist-container .music-list .music-card,
.search-result-songs .music-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-bg-color);
    transition: var(--transition);
    padding: 10px;
    height: 100px;
}

.music-list .music-card:active,
.music-list .music-card:hover,
.search-result-songs .music-card:hover,
.search-result-songs .music-card:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.music-list .music-info,
.search-result-songs .music-info {
    display: flex;
    align-items: center;
    width: 280px;
    gap: 10px;
}

.music-list .thumbnail,
.search-result-songs .thumbnail {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.music-list .music-info-ttl {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    font-size: 1em;
}
.music-info-duration {
    font-size: 12px;
}

.explore-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}
.explore-section .title,
.search-result-songs .title {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px 20px;
}
.explore-section .carousel {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.explore-section .carousel::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.carousel-card-1 {
    background-color: var(--primary-bg-color);
    height: auto;
    min-width: 120px;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px;
    border-radius: 12px;
    transition: var(--transition);
    box-shadow: var(--topnav-box-shadow);
    overflow: hidden;
}
.carousel-card-1 .carousel-card-img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-card-1 .card-info {
    display: flex;
    flex-direction: column;
}
.carousel-card-1 .card-title {
    font-size: 14px;
    text-wrap: nowrap;
    overflow: hidden;
}
.carousel-card-1 .card-type {
    font-size: 12px;
    text-wrap: nowrap;
    overflow: hidden;
}

.music-search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 50px;
    padding-bottom: 100px;
    transition: var(--transition);
    z-index: 10;
}
.music-searchbar {
    background-color: var(--background-color);
    box-shadow: none;
    outline: none;
    border-radius: 0;
    borpder-radius: 0;
    border-bottom: 1px solid var(--text-color);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    z-index: 5;
    transition: var(--transition);
}
.music-search-input {
    width: 70vw;
}
.music-search-container .search-results-container {
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
    max-height: 50vh;
}
.search-result-songs {
    display: flex;
    flex-direction: column;
}
.search-result-songs .music-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-result-songs .music-card {
    max-height: 60px;
}
.music-search-container .result-card {
    display: flex;
    align-items: center;
    padding: 5px 8px;
}
.music-search-container .result-thumbnail {
    height: 100px;
    width: 100px;
    border-radius: 12px;
}
.music-search-container .result-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
}

.music-explore-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}
.music-search-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 30px !important;
    background: var(--primary-bg-color);
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--topnav-box-shadow), var(--btmnav-box-shadow);
    cursor: pointer;
}
.music-explore-container {
    display: flex;
    flex-direction: column;
    max-height: 65vh;
    padding-bottom: 100px;
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; 
}
.music-explore-container::-webkit-scrollbar {
    display: none;
}
